body{background-image: url(../images/background.jpg);
     background-color:#D2D7DC;}
.outline { display: table; position: relative; height: auto;  width: 800px; margin: 18px auto 0; border: solid 2px #999;
	background: url(../images/gradient.jpg) top center no-repeat, url(../images/gradientflip.jpg) bottom center no-repeat;
        background-color:white 
 }
.text-full { float: right; width: 750px; margin-top: 175px; margin-right: 40px; margin-bottom: 10px; }
.caption { float: left; width: 300px; height: auto; margin-left: 40px; margin-top: 175px; margin-bottom: 10px; }
.text { float: right; width: 400px; margin-top: 175px; margin-right: 40px; margin-bottom: 10px; }
.title { width: 800px; top: 0px; position: absolute; }
img{ border: solid 2px #999}
iframe{ border: solid 2px #999}
p { color: #666; font-size: 16px; font-family: "Lucida Grande", Arial, sans-serif; font-weight: normal; margin-top: 0; }
h1 { color: #778fbd; font-size: 20px; font-family: "Lucida Grande", Arial, sans-serif; font-weight: 500; line-height: 32px; margin-top: 4px; }
h2 { color: #778fbd; font-size: 18px; font-family: "Lucida Grande", Arial, sans-serif; font-weight: normal; margin: 0.83em 0 0; }
h3 { color: #666; font-size: 60px; font-family: "Lucida Grande", Arial, sans-serif; font-weight: bold; text-align: center; letter-spacing: -1px; width: auto; }
h4 { font-weight: bold; text-align: center; margin: 1.33em 0; }
a { color: #666; text-decoration: none; }
small { font-size: 8; }
